<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<!-- Container fluid  -->			
<div class="container-fluid">				
    <!-- RECENT SALES -->				
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-flex mb-3 justify-content-between">
                    <h3 class="box-title mb-0">Bancos</h3>
                    <div class="ms-auto">
                        <a  class="btn btn-primary shadow-none row border-top" href="{% url 'bank.create' %}">Novo</a>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Instituição</th>
                                <th class="border-top-0">Tipo</th>
                                <th class="border-top-0">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bank in banks %}
                                <tr>
                                    <td>{{ bank.pk }}</td>
                                    <td>{{ bank.institution }}</td>
                                    <td>{{ bank.type }}</td>

                                    <td><a href="{% url 'bank.edit' bank.pk %}">Editar</a> | <a href="{% url 'bank.delete' bank.pk %}">Deletar</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>				
</div>			
<!-- End Container fluid  -->
{% endblock %}